__pycache__
.venv12/
.venv
myenv
todo.txt
ga_results_*
baldwin_explore_results
baldwin_instinct_compare_results/results.csv
baldwin_instinct_compare_results/results.csv
baldwin_explore_results
average fixation by sense.png
number of states with simular fixation rates.png
state vs. fixation rate.png
5 batch res
2 batch res